body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
}
.chat-container {
    margin: 20px auto;
    width: 720px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.chat-header {
      background-color: #333;
      color: #fff;
      padding: 3px;
      text-align: center;
    }
.chat-messages {
    padding: 10px;
    height: 542px;
    overflow-y: scroll;
}
.message {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    max-width: 100%;
}
.user-message {
    text-align: right;
    background-color: #d3e0dc;
}
.bot-message {
    text-align: left;
    background-color: #e0e0e0;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
.input-field {
    margin-right: 10px;
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.send-button {
    padding: 5px 10px;
    background-color:  #444;
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}
